<div class="mt-5 mb-5 d-flex justify-content-center w-100">
	<div class="col-md-12">
		<h1 class="c-white">Welcome to the Maybank Loan Process</h1>
		<!-- <p class="c-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus </p> -->
	</div>
</div>

<div class="container clear-top text-dark">
	<div class="kt-grid kt-wizard-v1 kt-wizard-v1--white">
		<div class="kt-grid__item">
			<!--begin: Form Wizard Nav -->
			<div class="kt-wizard-v1__nav">
				<div class="kt-wizard-v1__nav-items">
					<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v1__nav-body">
							<div class="kt-wizard-v1__nav-icon">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="kt-wizard-v1__nav-label">
								Credit Check<br>Initiate
							</div>
						</div>
					</a>
					<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
						<div class="kt-wizard-v1__nav-body">
							<div class="kt-wizard-v1__nav-icon">
								<i class="fas fa-percent"></i>
							</div>
							<div class="kt-wizard-v1__nav-label">
								Credit Check<br>Status
							</div>
						</div>
					</a>
					<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v1__nav-body">
							<div class="kt-wizard-v1__nav-icon">
								<i class="fas fa-briefcase"></i>
							</div>
							<div class="kt-wizard-v1__nav-label">
								Loan<br>Application
							</div>
						</div>
					</a>
					<a class="kt-wizard-v1__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v1__nav-body">
							<div class="kt-wizard-v1__nav-icon">
								<i class="fas fa-thumbs-up"></i>
							</div>
							<div class="kt-wizard-v1__nav-label">
								Loan<br>Approval
							</div>
						</div>
					</a>

				</div>
			</div>
			<!--end: Form Wizard Nav -->
		</div>
	</div>
	<div class="row" *ngIf="!scoreMult">
		<div class="col mt-5 px-extra">
			<h2 class="font-weight-bold">A Text Message (SMS) has been sent to {{ msisdn }} with an OTP (One Time
				Password). Please enter below:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col mt-5 px-extra">
			<form [formGroup]="formDetails" (ngSubmit)="onSubmit(formDetails.value)" *ngIf="!scoreMult">
				<div class="form-group">
					<label for="name">OTP (One Time Password)</label>
					<input type="text" class="form-control" id="otp" placeholder="Enter OTP" formControlName="otp">
					<small><a href="https://staging-api.trustingsocial.com/smsc_chat" target="_blank">Staging OTP
							Service</a></small>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
						<small id="errHelp" *ngIf="!valid" class="form-text text-danger">Please enter the OTP.</small>
						<small id="errHelp2" *ngIf="errMsg" class="form-text text-danger">{{ errMsg }}</small>
                    </div>
                    <div class="col-md-6 powered-by">
                        <small>Powered by: </small> <img src="./assets/media/company-logos/trusting-social.png" class="pl-2 logo">
                    </div>
				</div>

			</form>
			<h3 *ngIf="scoreMult" class="text-dark text-center pt-3">Your credit score percentage:
				{{ (scoreMult * 100) | number:'1.0-0' }}%</h3>
			<h2 *ngIf="scoreMult && scoreMult >= 0.5" class="text-success text-center pt-3">You are eligible for a
				loan!<br /><br />
				<button class="btn btn-success" [routerLink]="['/loan/apply']">Continue</button>
			</h2>
			<h2 *ngIf="scoreMult && scoreMult < 0.5" class="text-secondary text-center pt-3">Unfortunately, you are not
				eligible for a loan.<br />
				<button class="btn btn-secondary" [routerLink]="['']">Home</button>
			</h2>
		</div>
	</div>
</div>
