<!-- begin:: Brand -->
<div class="kt-header__brand   kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" src="./assets/media/logos/maybank.svg" class="kt-header__brand-logo-default img-fluid w-25"/>
			<img alt="logo" src="./assets/media/logos/maybank-dark.svg" class="kt-header__brand-logo-sticky img-fluid w-25"/>
			<!-- <img alt="logo" [attr.src]="headerStickyLogo" class="kt-header__brand-logo-sticky"/> -->
		</a>
	</div>
</div>
<!-- end:: Brand -->
