<!-- begin:: Footer -->
<div class="kt-footer kt-footer--extended kt-grid__item border-top border-primary" id="kt_footer" style="background-color: white;">
	<div class="kt-footer__top">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<div class="row">
				<div class="col-lg-4">
					<div class="kt-footer__section">
						<div class="kt-footer__logo mb-3">
							<a class="kt-header__brand-logo" routerLink="/">
								<img alt="Logo" src="./assets/media/logos/maybank-dark.svg" class="kt-header__brand-logo-sticky w-75">
							</a>
						</div>
						<div class="kt-footer__content pl-lg-4">
							<p>Powered by APIX Platform</p>
						</div>
						
					</div>
				</div>
				<div class="col-lg-2">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title">Help & Support</h3>
						<div class="kt-footer__content">
							<div class="kt-footer__nav">
								<div class="kt-footer__nav-section">
									<a href="javascript:;">Security Center</a>
									<a href="javascript:;">Card Support</a>
									<a href="javascript:;">Find a Branch</a>
									<a href="javascript:;">Help</a>
								</div>
								
							</div>							
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title">About Maybank</h3>
						<div class="kt-footer__content">
							<div class="kt-footer__nav">
								<div class="kt-footer__nav-section">
									<a href="javascript:;">Site Map</a>
									<a href="javascript:;">Legal</a>
									<a href="javascript:;">Privacy Notices</a>
								</div>
								
							</div>							
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="kt-footer__section">
						<h3 class="kt-footer__title">Contacts</h3>
						<div class="kt-footer__content">
							<!-- <form action="" class="kt-footer__subscribe">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter Your Email">
									<div class="input-group-append">
										<button class="btn btn-brand" type="button">Join</button>
									</div>
								</div>
							</form> -->
							<div class="kt-footer__nav">
								<div class="kt-footer__nav-section">
									<a href="javascript:;">support@apixplatform.com</a>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="kt-footer__bottom">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<div class="kt-footer__wrapper">
				<div class="kt-footer__logo">
					<a class="kt-header__brand-logo" routerLink="/">
						<img alt="Logo" src="./assets/media/logos/logo-4.png" class="kt-header__brand-logo-sticky">
					</a>
					<div class="kt-footer__copyright">
						{{today | date:'yyyy'}}&nbsp;©&nbsp;
						<a href="http://keenthemes.com/metronic" target="_blank">Maybank</a>
					</div>
				</div>
				<div class="kt-footer__menu">
					<a href="http://keenthemes.com/metronic" target="_blank">Purchase Lisence</a>
					<a href="http://keenthemes.com/metronic" target="_blank">Team</a>
					<a href="http://keenthemes.com/metronic" target="_blank">Contact</a>
				</div>
			</div>
		</div>
	</div> -->
</div>
<!-- end:: Footer -->
